Repository hotosm/fmtm-splitter, changes with the labels that .github/labeler.yml gives for each.
All labels: devops, dependency, docs, version

.github/labeler.yml:

bug:
  # Branch starts with `fix` or has a `fix` in the name
  - head-branch: ["^fix", "fix"]
enhancement:
  - head-branch:
      ["^feature", "feature", "^feat", "feat", "^refactor", "refactor"]
devops:
  - changed-files:
      - any-glob-to-any-file:
          - .github/**
          - Dockerfile
          - ./*entrypoint.sh
          - Makefile
dependency:
  - changed-files:
      - any-glob-to-any-file:
          - pyproject.toml
          - pdm.lock
docs:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**
          - mkdocs.yml
          - ./*entrypoint.sh
          - README.md
version:
  - changed-files:
      - any-glob-to-any-file: fmtm_splitter/__version__.py

fix: remove osm-extracts from split by square
  fmtm_splitter/splitter.py
Labels: none

refix: allow custom extracts
  fmtm_splitter/splitter.py
Labels: none

refactor: move old splitting algorithm parts --> postgis_snippets
  postgis_snippets/fmtm-splitter_osm_buildings/README.md
  postgis_snippets/fmtm-splitter_osm_buildings/fmtm-split_01_split_AOI_by_existing_line_features.sql
  postgis_snippets/fmtm-splitter_osm_buildings/fmtm-split_02_count_buildings_for_subsplitting.sql
  postgis_snippets/fmtm-splitter_osm_buildings/fmtm-split_03_cluster_buildings.sql
  postgis_snippets/fmtm-splitter_osm_buildings/fmtm-split_04_create_polygons_around_clustered_buildings.sql
  postgis_snippets/fmtm-splitter_osm_buildings/fmtm-split_05_clean_temp_files.sql
  postgis_snippets/fmtm-splitter_osm_buildings/fmtm-splitter_osm_buildings.sql
  postgis_snippets/fmtm_splitter_buildings.py
Labels: none

bump: version 1.3.1 → 1.3.2
  CHANGELOG.md
  Makefile
  fmtm_splitter/__version__.py
  fmtm_splitter/map_call.overpassql
  pyproject.toml
Labels: devops, dependency, version

refactor: merge least feature count polygons with neighbouring polygons
  fmtm_splitter/fmtm_algorithm.sql
Labels: none

docs: update db log to specify psycopg2 only
  fmtm_splitter/db.py
Labels: none

fix: add missed unsimplifiedtaskpolygons to table drop
  fmtm_splitter/db.py
Labels: none

refactor: remove support for sqlalchemy connections (psycopg2 driver only)
  README.md
  fmtm_splitter/db.py
Labels: docs

bump: version 1.3.2 → 1.4.0
  CHANGELOG.md
  Makefile
  fmtm_splitter/__version__.py
  pyproject.toml
Labels: devops, dependency, version

docs: add Ivan & Sujan to authors
  pyproject.toml
Labels: dependency

feat: use geodetic conversion of meters to degrees
  fmtm_splitter/splitter.py
Labels: none

fix: avoid appending empty clipped polygons
  fmtm_splitter/splitter.py
Labels: none

fix: add type int in argument
  fmtm_splitter/splitter.py
Labels: none

fix: updated the tasks count in test cases of split by square
  tests/test_splitter.py
Labels: none

fix: precommit errors
  fmtm_splitter/splitter.py
Labels: none

bump: version 1.4.0 → 1.5.0
  CHANGELOG.md
  Makefile
  fmtm_splitter/__version__.py
  pyproject.toml
Labels: devops, dependency, version

build: update postgis db version for testing
  docker-compose.yml
Labels: none

fix: typo in fmtm_splitter sql num_buildings substitution
  fmtm_splitter/fmtm_algorithm.sql
Labels: none

test: updated split by sql to generate less features (merge small areas)
  tests/test_splitter.py
Labels: none

bump: version 1.5.0 → 1.5.1
  CHANGELOG.md
  Makefile
  fmtm_splitter/__version__.py
  pyproject.toml
Labels: devops, dependency, version

fix: Update usage message for current reality
  fmtm_splitter/splitter.py
Labels: none

fix: Update command line args
  docs/usage.md
Labels: docs

feat: merge polygons smaller than 35% of perfect square polygon to neighbouring polygon
  fmtm_splitter/splitter.py
Labels: none

bump: version 1.5.1 → 2.0.0
  CHANGELOG.md
  Makefile
  fmtm_splitter/__version__.py
  pyproject.toml
Labels: devops, dependency, version

fix(test): added db param to split sq test functions
  fmtm_splitter/splitter.py
  tests/test_splitter.py
Labels: none

build: update dockerfile casing lint issue
  Dockerfile
Labels: devops

build: remove restart from splitter container else tests loop
  docker-compose.yml
Labels: none

build: add db init script for sfcgal PostGIS functions
  docker-compose.yml
  scripts/20_enable_sfcgal.sql
  scripts/README.md
Labels: none

refactor: move postgis_snippets to contrib dir
  .pre-commit-config.yaml
  contrib/postgis_snippets/Examples_and_tests/building_clusters_of_5.sql
  contrib/postgis_snippets/Examples_and_tests/centroids.sql
  contrib/postgis_snippets/Examples_and_tests/clean_and_simplify.sql
  contrib/postgis_snippets/Examples_and_tests/clustering.sql
  contrib/postgis_snippets/Examples_and_tests/concave_hull_tasks_from_clustered_buildings.sql
  contrib/postgis_snippets/Examples_and_tests/count_building_tags.sql
  contrib/postgis_snippets/Examples_and_tests/merge_polygons_with_no_features_into_neighbors.sql
  contrib/postgis_snippets/Examples_and_tests/points_in_polygon.sql
  contrib/postgis_snippets/Examples_and_tests/polygonize.sql
  contrib/postgis_snippets/Examples_and_tests/select_features_in_polygon.sql
  contrib/postgis_snippets/Examples_and_tests/split_aoi_by_osm_lines.sql
  contrib/postgis_snippets/Examples_and_tests/split_area_by_osm_lines.sql
  contrib/postgis_snippets/Examples_and_tests/task_splitting_optimized.sql
  contrib/postgis_snippets/Examples_and_tests/voronoi.sql
  contrib/postgis_snippets/README.md
  contrib/postgis_snippets/fmtm-splitter_osm_buildings/README.md
  contrib/postgis_snippets/fmtm-splitter_osm_buildings/fmtm-split_01_split_AOI_by_existing_line_features.sql
  contrib/postgis_snippets/fmtm-splitter_osm_buildings/fmtm-split_02_count_buildings_for_subsplitting.sql
  contrib/postgis_snippets/fmtm-splitter_osm_buildings/fmtm-split_03_cluster_buildings.sql
  contrib/postgis_snippets/fmtm-splitter_osm_buildings/fmtm-split_04_create_polygons_around_clustered_buildings.sql
  contrib/postgis_snippets/fmtm-splitter_osm_buildings/fmtm-split_05_clean_temp_files.sql
  contrib/postgis_snippets/fmtm-splitter_osm_buildings/fmtm-splitter_osm_buildings.sql
  contrib/postgis_snippets/fmtm_splitter_buildings.py
  contrib/postgis_snippets/import_geojson_as_postgis_with_jsonb.md
  contrib/postgis_snippets/postgis_resources.md
Labels: none
