Repository hotosm/fmtm-splitter, pull requests merged in 2024-12, with the labels that each got.

#74 Merge polygons smaller than 35% of perfect square polygon to neighbouring polygon
  fmtm_splitter/splitter.py
Labels: enhancement

#76 Fix split by square test functions
  fmtm_splitter/splitter.py
  tests/test_splitter.py
Labels: bug

#77 Migrate PDM --> uv & add a simple litestar microservice wrapper
  .dockerignore
  .github/labeler.yml
  .gitignore
  Dockerfile
  README.md
  api/README.md
  api/main.py
  api/schemas.py
  api/settings.py
  compose.api.yml
  compose.yml
  pdm.lock
  pyproject.toml
  uv.lock
Labels: docs, enhancement, dependency, devops
